/* customers */

.customers {
	padding-top: 94px;
	padding-bottom: 94px;

	&-list {
		display: flex;
	}

	&-title {
		margin-top: 0px;
		margin-bottom: 50px;

		font-weight: 700;
		font-size: 36px;
		line-height: 1.16;
		text-align: center;
	}
}

.customers-list .item {
	margin-right: 30px;
	width: calc((100% - 150px) / 6);

	&:last-child {
		margin-right: 0px;
	}
}

.customers-list .link {
	width: 170px;
	height: 90px;

	display: flex;
	align-items: center;
	justify-content: center;

	fill: $color-social-link;
	border: 1px solid #afb1b8;
	box-sizing: border-box;
	border-radius: 4px;

	transition: border-color 250ms $timing-transition, fill 250ms $timing-transition;

	&:hover,
	& :focus {
		border-color: $text-color-hover;
		fill: $text-color-hover;
	}
}
