/* the team of company */

.section-team {
	padding-top: 94px;
	padding-bottom: 94px;

	background-color: #f5f4fa;
}
.our-team {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.team {
	display: flex;
}

.team .item {
	margin-right: 30px;
	width: calc((100% - 90px) / 4);

	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
}
.team .item:last-child {
	margin-right: 0;
}

.block-person {
	padding-top: 30px;
	padding-bottom: 24px;
	padding-left: 32px;
	padding-right: 32px;

	background: $accent-color;
}

.section-team .person {
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
}
.section-profession {
	margin-top: 0px;
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.18;
	color: $additional-color;
	text-align: center;
}

.social-list {
	display: flex;
}
.social-list .social-item {
	margin-right: 10px;
	width: calc((100% - 30px) / 4);
}
.social-list .social-item:last-child {
	margin-right: 0px;
}

.social-item .link {
	width: 44px;
	height: 44px;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	fill: $color-social-link;
	transition: background-color 250ms $timing-transition, fill 250ms $timing-transition;
}

.social-item .link:hover,
.social-item .link:focus {
	background-color: $text-color-hover;
	fill: $accent-color;
	border-radius: 50%;
}
